.header {
    text-align: center;
    color: #CBBB9B;
}

body {
    background-color: #574C3C;
}

#instructions {
    color: #CBBB9B;
    width: 60%;
    margin: auto;
}

#gameBoard {
    width: 60%;
    overflow-y: hidden;
    height: auto;
    background-color: #CBBB9B;
    margin: 20px auto;
    padding: 15px 0;
    text-align: center;
}

#gameBoardInfo h4 {
    display: inline;
    padding: 5px;
}

#gameBoardInfo p {
    display: inline;
    margin-right: 20px;
    padding: 5px;
}

/*Border will eventually be removed, just getting a feel for where the moles will reside.*/
.mole {
    width: 150px;
    height: 110px;
    display: inline-block;
    margin: 10px;
    border: 1px solid black;
}

button {
    cursor: pointer;
    background-color: #42733D;
    text-align: center;
    padding: 10px 20px;
    display: block;
    margin: 0 auto;
    color: white;
}
